@import url('https://fonts.googleapis.com/css?family=Lora|Poppins');

body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.Chat {
  display: flex;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.loginPanel {
  display: flex;
  margin: 0 auto;
  width: 50vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.loginPanel .panel_inner {
  text-align: center;
}

.loginPanel .panel_inner form>div {
  margin-bottom: 10px;
}

.loginPanel .panel_inner form input {
  width: 200px;
  margin: 0 auto;
  padding: 10px;
}

.submitButton {
  -webkit-appearance: none;
  border: 1px solid #000;
  background: #fff;
  width: 200px;
  padding: 10px;
}

.chatPanel .chatPanelInfo>div {
  cursor: default;
}

.loggedIn {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidePanel {
  background-image: linear-gradient(-135deg,
    #e4e4e4 0%,
    #f8f8f8 65%,
    #ffffff 100%);
  width: 30%;
  padding: 10px;
  border-right: 1px solid #efece8;
  z-index: 2;
}

.chatPanel {
  width: 70%;
  align-content: space-between;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.chatList {
  max-height: calc(100vh - 117px);
  overflow-y: scroll;
}

.chatList>div {
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.1);
}

.userInfo {
  padding: 4px 4px 4px 10px;
  background: #bbbbbb;
  color: #4a4a4a;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  height: 20px;
  align-items: center;
  font-size: 14px;
}

.userStatus {
  display: block;
  background: #ccc;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid #fff;
  transition: all .5s ease-in-out;
}

.userStatus.online {
  background: #34d859;
}

.messageList {
  border-top: 1px solid #EFECE8;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 10px;
  flex: 5;
  overflow-y: scroll;
}

.messageList>div {
  margin-bottom: 10px;
}

.searchBoxContainer {
  margin-bottom: 10px;
}

.sendBoxContainer {
  padding: 10px;
  z-index: 2;
  box-shadow: 0 -1px 5px 0px rgba(0, 0, 0, 0.1);
}